<div class="container-fluid">
  <div class="container jumbotron">
    <h1>Add New Pet</h1>
    <br />
    <form class="example-form" [formGroup]="newPetForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="w-100">
          <mat-label>Pet</mat-label>
          <input
            matInput
            id="name"
            name="name"
            formControlName="name"
            style="text-transform: capitalize"
          />
        </mat-form-field>
      </p>

      <p>
        <img [src]="imageUrl" />
      </p>
      <p>
        <input
          type="file"
          style="display: none"
          (change)="onFileChanged($event)"
          #fileInput
          mat-flat-button
          color="primary"
          id="imageUrl"
          name="imageUrl"
          formControlName="imageUrl"
        />
        <input
          type="button"
          (click)="fileInput.click()"
          mat-flat-button
          color="primary"
          value="Get Image"
        />
      </p>

      <p>
        <mat-checkbox
          id="status"
          name="status"
          formControlName="status"
          class="example-margin"
          disabled
          >Available</mat-checkbox
        >
      </p>

      <p>
        <button
          type="submit"
          [disabled]="newPetForm.pristine"
          mat-flat-button
          color="primary"
        >
          Save
        </button>
        <button
          type="button"
          (click)="cancel()"
          mat-flat-button
          color="warning"
          class="ml-3"
        >
          Cancel
        </button>
      </p>
    </form>
  </div>
</div>
