.container-fluid {
  position: absolute;
  top: 0;
  padding-top: 80px;
  background-color: #6c757d;
  height: 100%;
  z-index: 1;
  .container {
    width: 610px;
    background-color: white;
    padding: 40px;
  }
  img {
    width: 40%;
    margin: auto !important;
    border: 1px solid #e0d5d5;
    margin-bottom: 20px !important;
  }
}
