.container-fluid {
  position: absolute;
  top: 0;
  padding-top: 80px;
  background-color: #6c757d;
  height: 100%;
  z-index: 1;
  .container {
    width: 610px;
    background-color: white;
    padding: 40px;
  }
}
