.example-card {
  width: 700px;
  max-width: 700px;
  border: none;
  box-shadow: none;
}

.example-header-image {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-image: url("https://cdn.pixabay.com/photo/2015/10/12/14/57/dogs-984015_960_720.jpg");
  background-size: cover;
}

img {
  width: 40%;
  margin: auto !important;
  border: 1px solid #e0d5d5;
  margin-bottom: 20px !important;
}
