<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ data.name | titlecase }}</mat-card-title>
    <mat-card-subtitle>({{ data.id }})</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <img [src]="imageUrl" alt="No Image" />
    <p>
      <input
        type="file"
        style="display: none"
        (change)="onFileChanged($event)"
        #fileInput
      />
      <button (click)="fileInput.click()" mat-flat-button color="primary">
        Get Image
      </button>
      <button
        *ngIf="ShowUploadButton == true"
        (click)="onUpload(data.id)"
        mat-flat-button
        color="primary"
        class="ml-3"
      >
        Upload!
      </button>
    </p>
  </mat-card-content>

  <div *ngIf="data.status == 'available'">
    <label for="">Status: </label>
    <mat-card-subtitle style="color: green">{{
      data.status
    }}</mat-card-subtitle>
  </div>
  <div *ngIf="data.status == 'pending'">
    <mat-card-subtitle style="color: rgb(192, 147, 51)">{{
      data.status
    }}</mat-card-subtitle>
  </div>
  <div *ngIf="data.status == 'sold'">
    <mat-card-subtitle style="color: rgb(235, 41, 6)">{{
      data.status
    }}</mat-card-subtitle>
  </div>

  <mat-card-actions>
    <div mat-dialog-actions>
      <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
        Cancel
      </button>
    </div>
  </mat-card-actions>
</mat-card>
