h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 7px;
}

.css-add-pet {
  background-color: #ffffff;
  color: #c0c9d0;
}

.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  border-bottom: 1px solid rgb(126, 176, 190);
  padding: 4px;

  img {
    width: 70px;
    border: 1px solid #c5b9b9;
  }
}
