<div class="css-container-child" *ngIf="pets$ | async as pets">
  <div class="css-each-page-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="w-100 text-center">
      <h1>Pets</h1>
    </div>
    <hr />
    <div class="css-each-page-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table">
        <div *ngFor="let pet of pets; let i = index" class="row">
          <div class="cell">
            {{ pet.id }}
          </div>

          <div class="cell">
            {{ pet.name | titlecase }}
          </div>
          <div class="cell">
            <img src="{{ pet.photoUrls }}" alt="No image" />
          </div>
          <div class="cell">
            {{ pet.status }}
          </div>
          <div class="cell">
            <span class="material-icons" (click)="viewDetails(pet)">
              remove_red_eye
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
