/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background-color: #757d84;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  position: absolute;
  top: 0;
  padding-top: 80px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.css-save-button,
.css-cancel-button {
  border: 1px solid #e0dcdc;
  padding: 4px 18px;
  border-radius: 3px;
}

.css-save-button {
  background: var(--light);
}
.css-cancel-button {
  background: var(--warning);
}
.css-danger-button {
  background: var(--danger);
}
